:host {
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  //font-family: 'MuseoSans-500';
  //font-family: 'LatoLight', sans-serif;
  //font-family: 'LatoThin', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: #444;
}

.header {
  margin-top: 3mm;
  height: 10mm;
}

.image {
  width: 100vw;
  height: calc(var(--aspectRatioHeight) * 100vw / var(--aspectRatioWidth));
  object-fit: cover;
}

.caption {
  flex-grow: 0.7;
  align-self: flex-end;
  font-size: 0.75rem;
  padding-right: 10mm;
  padding-top: 1mm;
}

.month {
  flex-grow: 0.3;
  font-size: 2rem;
  align-self: center;
}

.days {
  align-self: center;
  display:flex;
  flex-direction: row;
  align-items: baseline;

  & .holiday {
    font-weight: 500;
    border-radius: 0.5rem;
    border: var(--holidayBorder);
    padding: calc(var(--dayPadding)/2) !important;
    margin: 0rem calc(var(--dayPadding)/2);
  }

  & .sunday {
    font-weight: 500;
  }

  & .specialDay {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    color: var(--specialDayColor);
  }

  & .specialDayCaption {
    padding-left: var(--dayPadding);
    position: absolute;
    transform-origin: var(--dayPadding);
    transform: rotate(var(--specialDayInclination));
  }

  & .day {
    display: flex;
    flex-direction: column;
    padding: var(--dayPadding);
    font-size: 1rem;
    line-height: 1.5rem;

    & > div {
      align-self: center;
    }
  }
}

.footer {
  flex-grow: 0.5;
  margin-bottom: 3mm;
}

.cut-off-vertical {
  margin-left: 3mm;
  margin-right: 3mm;
}

.above-title {
  flex-grow: 0.5;
}

.title {
  font-size: 3rem;
  line-height: 3rem;
  align-self: center;
  padding-top: 1rem;
}
.year {
  font-size: 5rem;
  line-height: 5rem;
  align-self: center;
  font-weight: 500;
  padding-top: 1rem;
}
