<div class="header cut-off-vertical">
</div>
<img class="image" [src]="getImage()">
<ng-template [ngIf]="isTitlepage()" [ngIfElse]="monthPage">
  <div class="above-title"></div>
  <div class="title">
    {{ getCaption() }}
  </div>
  <div class="year">
    {{ getYear() }}
  </div>
</ng-template>
<ng-template #monthPage>
  <div class="caption cut-off-vertical">
   {{ getCaption() }}
  </div>
  <div class="month cut-off-vertical">{{days[0].format("MMMM")}}</div>
  <div class="days cut-off-vertical">
    <div *ngFor="let day of days" [class.holiday]="isHoliday(day)" [class.sunday]="isSunday(day)" class="day">
      <!--<div>{{day.format("dd")}}</div>-->
      <div>{{day.format("D")}}</div>
  </div>
</div>
</ng-template>
<div class="footer cut-off-vertical"></div>
