/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'MuseoSans-500';
  src: url('assets/MuseoSans-500.woff2') format('woff2'),
      url('assets/MuseoSans-500.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LatoLight';
  src: url('assets/Lato-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LatoThin';
  src: url('assets/Lato-Thin.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html, body {
  height: 100%;
  font-size: 5mm; //calc(0.5 * 100vw/1.414/42); //0.5cm with DIN-A2 landscape
}
body { 
  margin: 0; 
}

  